@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Client;

<div class="header">
  <div class="container">
    <h1>Add a New Client</h1>
  </div>

  @await Html.PartialAsync("NavBar")

  <br/>
</div>

@if(ViewBag.NoStylistsBool)
{
  <div class="empty container">
    <h3>There are no stylists available to book a client!</h3>
    <p><strong>NOTE:</strong>There must be at least one stylist in the Salon before you can book a client.</p>
    <h4>@Html.ActionLink("Add a Stylist", "Create", "Stylists")</h4>
  </div>
}
else
{
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="form container">
          @using (Html.BeginForm())
          {
            @Html.LabelFor(model => model.Name)
            <br/>
            @Html.TextBoxFor(model => model.Name)
            <br/>
            @Html.LabelFor(model => model.Stylist)
            <br/>
            @Html.DropDownList("StylistId")
            <br/>
            <br/>
            <input type="submit" value="Submit" class="btn btn-primary" />
          }
        </div>

        <br/>

        <div class="links container">
          <h4>@Html.ActionLink("Back to Clients", "Index")</h4>
          <h4>@Html.ActionLink("Back to Stylists", "Index", "Stylists")</h4>
        </div>
      </div>
    </div>
  </div>

}